* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  background-color: #110505;
}

html {
  scroll-behavior: smooth;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;
  width: 100%; */
  /* background-color: red; */
}

.hero-area {
  position: relative;
  height: 800px;
  background-image: url("/images/photo-1447933601403-0c6688de566e.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2rem;
  background-color: rgba(17, 5, 5, 0.6);
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0.2rem 1.2rem;
  z-index: 1;
}

.main-nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

.main-nav__item a:hover {
  color: #deaf67;
}

.main-nav__item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -10px;
  background-color: #deaf67;
}

.main-nav__item a:hover:after {
  color: #deaf67;
  width: 100%;
  transition: 400ms;
}
.main-nav__logo {
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__logo span {
  color: #dfccaf;
}

.main-nav__items {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 100px;
}

.main-nav__item {
  margin-right: 3rem;
  /* background-color: rgba(249, 165, 110, 0.2); */
}

.brand-slogan {
  color: white;
  text-align: center;
  /* margin-top: 20rem; */
  position: relative;
  top: 40%;
  /* padding-bottom: 40rem; */
}

.brand-slogan span {
  /* color: #bd6731; */
  color: #deaf67;
  text-decoration: underline wavy;
}

/* .order-now {
  background-color: #f9a56e;
  border: none;
  border-radius: 5px;
  border: none;
  padding: 1rem;
} */
.about-us {
  color: white;
  /* margin-top: 4rem; */
}

.about-us__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.about-us__title {
  text-align: center;
  color: white;
  margin-top: 5rem;
  font-size: 2rem;
}

.about-us__title span {
  color: #deaf67;
}

.about-us__description {
  width: 30%;
  margin-right: 4rem;
  font-size: 1.4rem;
}

.customer-review {
  /* margin-top: 5rem; */
  /* background-color: #ece0d1; */
  background-color: #d2c1b0;
  /* z-index: -1; */
  padding-bottom: 12.4rem;
  margin-top: -2px;
}

.customer-review__title {
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
  color: #110505;
}
.customer-review__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: auto;
  margin-top: 100px;
}

.custumors-reviews__card {
  width: 300px;
  padding-top: 0.6rem;
  margin-top: 1.2rem;
  border-radius: 15px;
  padding: 1.8rem;
  position: relative;
  background-color: #deaf67;
  /* z-index: -1; */
}

.custumors-reviews__card:hover {
  /* color: red; */
  /* background-color: #110505;#d8b987 */
  cursor: pointer;
  box-shadow: 7px 7px 7px #f3d4a2;
  border-end-end-radius: 20px;
  transition: 700ms box-shadow;
}

.custumors-reviews__card:hover .customers-photo {
  transform: translateY(-20px);
  transition: transform 500ms;
}

.customers-reviews__quotes {
  font-size: 1.2rem;
  margin-top: 3rem;
}

.custumors-name {
  font-size: 1rem;
  font-style: italic;
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
}

.customers-photo {
  width: 100px;
  height: 100px;
  border: solid 5px white;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  margin: 0 25%;
}

.customers-photo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.contact-us {
  /* margin-top: 5rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us__title {
  margin-top: 5rem;
}

.contact-us input[type="text"],
.contact-us input[type="email"] {
  width: 50%;
  background-color: #110505;
  /* color: rgb(249, 165, 110); */
  border: none;
  border-bottom: #deaf67 2px solid;
  outline: none;
  height: 50px;
  margin: 1rem;
}

.contact-us__button {
  /* width: 5%; */
  border-radius: 20px;
  background-color: #deaf67;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0;
}

.contact-us__button:hover {
  cursor: pointer;
  background-color: white;
  color: #deaf67;
  transition: 500ms;
}
.contact-us textarea {
  background-color: #110505;
  border: #deaf67 3px solid;
  border-radius: 5px;
  width: 50%;
  height: 300px;
  margin-top: 0.4rem;
  outline: none;
}
form {
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87) !important;
}
.main-footer {
  background-color: #deaf67;
  padding: 2rem;
}

.main-footer__items {
  /* text-decoration: none; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-footer__item {
  list-style: none;
  margin-right: 2rem;
  fill: white;
  /* border: 2px solid black;
  border-radius: 50%; */
  padding: 0.4rem;
}
.main-footer__item a {
  position: relative;
}

.main-footer__items a:after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: aliceblue;
}

/* .main-footer__items a:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  right: 0;
  background-color: black;
} */

.main-footer__item a:hover:after {
  width: 100%;
  transition: ease 500ms;
  bottom: 0;
}

.main-footer__item svg:hover {
  fill: aliceblue;
}

.main-footer__item svg:hover {
  /* transform: translateY(-20px); */
  /* transform: translate 500ms; */
}

@media screen and (max-width: 768px) {
  .hero-area {
    height: 700px;
    background-image: url("./images/photo-1447933601403-0c6688de566e.avif");
    background-size: cover;
    /* background-position: 50px; */
  }
  .main-nav__logo {
    margin-left: 4rem;
  }
  .about-us__description {
    width: 90%;

    margin-right: 0rem;
    font-size: 1.1rem;
  }
  .about-us__image {
    width: 90%;
    margin-top: 2rem;
  }
  .about-us__image img {
    width: 100%;
  }
  .contact-us input[type="text"],
  .contact-us input[type="email"],
  .contact-us textarea {
    width: 70%;
  }

  .main-nav {
    display: none;
  }
  .main-footer {
    padding: 0.4rem;
  }
  .main-footer__item svg {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__items {
    background-color: rgba(17, 5, 5);
    height: 100vh;
    width: 100%;
    max-width: 280px;
    position: fixed;
    top: 0;
    right: -280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    transition: 0.3s ease;
    z-index: 1;
  }
  .mobile-menu__items li {
    list-style: none;
    margin-bottom: 2.5rem;
  }
  .mobile-menu__items a {
    text-decoration: none;
  }
  .mobile-menu__items.active {
    right: 0;
  }
  nav {
    padding: 1rem;
    display: flex;
    position: fixed;
    right: 0;
    z-index: 1;
    /* background-color: red; */
  }

  /* ham menu */
  .ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    z-index: 1;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span {
    background-color: white;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__items {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1096px) {
  .about-us__description {
    width: 60%;
    /* background-color: red; */
    margin-right: 0rem;
  }
  .about-us__image {
    max-width: 60%;
    margin-top: 2rem;
  }
  .about-us__image img {
    width: 100%;
  }
}
